In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from inspect import signature

from sql_queries.query_mafes import query_mafe_experiments
from sql_queries.query_mafes_category import query_mafe_experiments_category
from sql_queries.query import query_mafe_imp

from analystcommunity import read_connection_data_warehouse
from analystcommunity import write_connection_data_warehouse
from demandplanning_forecast_context.ForecastContext import ForecastContext

## Correr MAFE

In [3]:
# Variables para cargar el cÃ¡lculo de MAFE

country = 'CO'
region_code = 'BOG'
warehouse = 'ALQ'
dates = pd.read_csv("days.csv", index_col=0)
dates['date'] = pd.to_datetime(dates['date'])
days = 40
dataset_id = 55

In [25]:
df_mafe = pd.DataFrame()
for date in dates.iloc[:,0]:
    query = query_mafe_experiments(country, region_code, warehouse, str(date.date()), days, dataset_id)
    df = read_connection_data_warehouse.run_read_prod_query(query)
    df_mafe = df_mafe.append(df)

In [3]:
#df_mafe.to_csv('analysis_167.csv')
#df_mafe.to_csv('analysis_165.csv')
#df_mafe.to_csv('analysis_55.csv')

In [ ]:
df_mafe = pd.read_csv('analysis_55.csv', index_col=0)

In [ ]:
df = df_mafe.groupby(['timeframe']).mean().reset_index()

In [ ]:
df3.to_csv('data_55_t12.csv')

In [ ]:
# Preparar data para prueba

df2 = df[df['timeframe']==2]
list(df2.iloc[0,1:])

In [ ]:
y = list(df2.iloc[0,1:])
a = [0,1,0,1,0,1,0,1]
b = [0,0,1,1,0,0,1,1]
c = [0,0,0,0,1,1,1,1]
d = [0,1,1,0,1,0,0,1]
af = [-1,1,-1,1,-1,1,-1,1]
bf = [-1,-1,1,1,-1,-1,1,1]
cf = [-1,-1,-1,-1,1,1,1,1]
df = [-1,1,1,-1,1,-1,-1,1]
zipped = list(zip(y,a,b,c,d,af,bf,cf,df))
zipped

In [ ]:
df3 = pd.DataFrame(zipped, columns=['y','a','b','c','d','af','bf','cf','df'])

## Productos en que mejora
### (incompleto)

In [5]:
df_mafe = pd.DataFrame()
for date in dates.iloc[:,0]:
    query = query_mafe_imp(country, region_code, warehouse, str(date.date()), days, dataset_id)
    df = read_connection_data_warehouse.run_read_prod_query(query)
    df_mafe = df_mafe.append(df)

In [ ]:
df_mafe.groupby(['timeframe']).sum()

In [12]:
df_mafe['better'] = np.where(df_mafe['mafe_exp6']>df_mafe['mafe_exp5'],1,0)

In [2]:
df_mafe.groupby(['timeframe',])

### Category

In [39]:
country = 'BR'
region_code = 'SPO'
warehouse = 'STA'
dates = pd.read_csv("days.csv", index_col=0)
dates['date'] = pd.to_datetime(dates['date'])
days = 40
dataset_id = 167
category = 'FRUVER'

In [40]:
df_mafe = pd.DataFrame()
for date in dates.iloc[:,0]:
    query = query_mafe_experiments_category(country, region_code, warehouse, str(date.date()), days, dataset_id, category)
    df = read_connection_data_warehouse.run_read_prod_query(query)
    df_mafe = df_mafe.append(df)

In [41]:
df_mafe.to_csv('analysis_167_fruver.csv')
#df_mafe.to_csv('analysis_165_fruver.csv')
#df_mafe.to_csv('analysis_55_fruver.csv')

In [42]:
#df_mafe = pd.read_csv('analysis_167_fruver.csv', index_col=0)
df = df_mafe.groupby(['timeframe']).mean().reset_index()
df2 = df[df['timeframe']==2]

In [43]:
y = list(df2.iloc[0,1:])
a = [0,1,0,1,0,1,0,1]
b = [0,0,1,1,0,0,1,1]
c = [0,0,0,0,1,1,1,1]
d = [0,1,1,0,1,0,0,1]
af = [-1,1,-1,1,-1,1,-1,1]
bf = [-1,-1,1,1,-1,-1,1,1]
cf = [-1,-1,-1,-1,1,1,1,1]
df = [-1,1,1,-1,1,-1,-1,1]
zipped = list(zip(y,a,b,c,d,af,bf,cf,df))

df3 = pd.DataFrame(zipped, columns=['y','a','b','c','d','af','bf','cf','df'])

In [44]:
df3.to_csv('data_167_fruver.csv')
df3

           y  a  b  c  d  af  bf  cf  df
0  17.768094  0  0  0  0  -1  -1  -1  -1
1  18.562267  1  0  0  1   1  -1  -1   1
2  18.614301  0  1  0  1  -1   1  -1   1
3  17.225677  1  1  0  0   1   1  -1  -1
4  18.632070  0  0  1  1  -1  -1   1   1
5  17.294586  1  0  1  0   1  -1   1  -1
6  17.239576  0  1  1  0  -1   1   1  -1
7  18.599999  1  1  1  1   1   1   1   1

## Comparaciones

In [10]:
df_mafe = pd.read_csv('analysis_165.csv', index_col=0)

In [11]:
df = df_mafe.groupby(['timeframe']).mean().reset_index()

In [12]:
df['comp'] = df['mafe_exp6'] - df['mafe_exp5']

In [26]:
df_mafe = pd.read_csv('analysis_165.csv', index_col=0)
df = df_mafe.groupby(['timeframe']).mean().reset_index()
df['comp'] = df['mafe_exp6'] - df['mafe_exp5']
df.mean()

timeframe    15.500000
mafe_exp1    53.954352
mafe_exp2    47.325630
mafe_exp3    47.255348
mafe_exp4    57.315190
mafe_exp5    43.161182
mafe_exp6    48.210555
mafe_exp7    44.449381
mafe_exp8    43.562724
comp          5.049374
dtype: float64